.block{
    border: 2px solid red;
    height: 70px;
}

#block1{
    background-color: aquamarine;
}

#block2{
    background-color: darkgoldenrod;
}
#block3{
    background-color: blueviolet;
}
#block4{
    background-color: burlywood;
}